<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")    
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")    
    
    title 펜션전쟁

    //- scripts
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')        
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js')    
    
    //- styles
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css')    
    link(rel='stylesheet', href='/css/war.css')
  
  body
    .container.text-center

      .display-3.text-white.py-5 펜션전쟁        

      .progress.mb-5
        .progress-bar.bg-danger.progress-bar-striped.progress-bar-animated(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:70%')
          | 70% (70/100)

      .row
        .col-6
          .card.left
            #carouselLeftIndicators.carousel.slide(data-ride='carousel')
              ol.carousel-indicators
                li.active(data-target='#carouselLeftIndicators', data-slide-to='0')
                li(data-target='#carouselLeftIndicators', data-slide-to='1')
                li(data-target='#carouselLeftIndicators', data-slide-to='2')
              .carousel-inner
                .carousel-item.active
                  img(src='/images/temp_01.jpg')
                  .carousel-caption.d-none.d-md-block
                    h4 #럭셔리
                    p #속초 #월풀/스파 #커플 #바베큐
                .carousel-item
                  img(src='/images/temp_02.jpg')
                  .carousel-caption.d-none.d-md-block
                    h4 #럭셔리
                    p #속초 #월풀/스파 #커플 #바베큐
                .carousel-item
                  img(src='/images/temp_03.jpg')
                  .carousel-caption.d-none.d-md-block
                    h4 #럭셔리
                    p #속초 #월풀/스파 #커플 #바베큐 
              a.carousel-control-prev(href='#carouselLeftIndicators', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
              a.carousel-control-next(href='#carouselLeftIndicators', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next
          button.btn.btn-danger.btn-lg.btn-block.mt-4(type='button')
            i.fa.fa-heart
        .col-6
          .card.right
            #carouselRightIndicators.carousel.slide(data-ride='carousel')
              ol.carousel-indicators
                li.active(data-target='#carouselRightIndicators', data-slide-to='0')
                li(data-target='#carouselRightIndicators', data-slide-to='1')
                li(data-target='#carouselRightIndicators', data-slide-to='2')
              .carousel-inner
                .carousel-item.active
                  img(src='/images/temp_04.jpg')
                  .carousel-caption.d-none.d-md-block
                    h4 #가족
                    p #속초 #월풀/스파 #커플 #바베큐
                .carousel-item
                  img(src='/images/temp_05.jpg')
                  .carousel-caption.d-none.d-md-block
                    h4 #가족
                    p #속초 #월풀/스파 #커플 #바베큐
                .carousel-item
                  img(src='/images/temp_06.jpg')
                  .carousel-caption.d-none.d-md-block
                    h4 #가족
                    p #속초 #월풀/스파 #커플 #바베큐 
              a.carousel-control-prev(href='#carouselRightIndicators', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
              a.carousel-control-next(href='#carouselRightIndicators', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next
          button.btn.btn-danger.btn-lg.btn-block.mt-4(type='button')
            i.fa.fa-heart      